body {
    margin: 0;
    background-color: #fff;
}

.contenedor {
    position: relative;
    width: 100%;
    max-width: 800px; /* ajusta según el diseño */
    margin: 0 auto;
}

.fondo {
    width: 100%;
    height: auto;
    display: block;
}

/* 🔴 BOTÓN */
button {
    position: absolute;
    top: 47%; /* posición vertical sobre la imagen */
    left: 53%; /* posición horizontal centrada */
    transform: translate(-50%, -50%);
    width: 150px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

/* 🕒 CONTADOR */
.countdown-container {
    position: absolute;
    top: 84%; /* mueve esto para ajustar su posición en la imagen */
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #B8860B;
}

.numbers {
    display: flex;
    justify-content: center;
    gap: 60px;
}

    .numbers span {
        font-size: 50px;
        font-weight: bold;
        font-family: Georgia;
    }

#labels {
    display: flex;
    justify-content: center;
    gap: 65px;
    font-size: 16px;
    font-family: Georgia;
    color: #B8860B;
    margin-top: 5px;
}
